.fancyWriting {
    font-weight: 300;
    color: whitesmoke;
}

.writing {
    color: rgba(188, 188, 188, 0.86);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5em;
    line-height: 1.2em;
    font-family: 'Montez', "Roboto", "Helvetica","Arial",sans-serif;
    font-weight: 100;
}

.wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.info {
    position: absolute;
    background: rgb(53, 53, 53);
    top: 2px;
    /* left: 0; */
    padding: 8px 20px;}

.info pre {
    padding: 0;
    margin: 0;
    color: #666;
}
.info h1 {
    color: white;
    font-size: 3em;
    font-family: 'Roboto', 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}

.info h3 {
    font-size: 1em;
    color: whitesmoke;
    font-family: 'Roboto', 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    text-align: center;
}
