.chartWrapper {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex : 1;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.wrapper {
    position: relative;
    display: flex;
    flex : 1;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}
