.wrapper {
    background: rgb(35, 35, 70);
    padding-top: 11px;
    margin: 0 5px 10px 5px;
    border-radius: 10px;
    padding-left: 25px;
}

.playIcon {
    vertical-align: middle;
    color: aliceblue;
    position: absolute;
    z-index: 9999;
    margin-top: -8px;
    margin-left: -25px;
}
.mdl-slider__background-upper {
    background: rgba(209, 209, 209, 0.26);
}
